<h1 class="title is-1 is-$info is-flex is-justify-content-center has-text-weight-bold">{{title}}</h1>
<div class="columns">
  <div class="column is-one-quarter">
<aside class="menu" style="width: 200px; margin-left: 50px;">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Dashboard</a></li>
    <li><a>Customers</a></li>
  </ul>
  <p class="menu-label">
    Administration
  </p>
  <ul class="menu-list">
    <li><a>Team Settings</a></li>
    <li>
      <a class="is-active">Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
    <li><a>Invitations</a></li>
    <li><a>Cloud Storage Environment Settings</a></li>
    <li><a>Authentication</a></li>
  </ul>
  <p class="menu-label">
    Transactions
  </p>
  <ul class="menu-list">
    <li><a>Payments</a></li>
    <li><a>Transfers</a></li>
    <li><a>Balance</a></li>
  </ul>
</aside>
  </div>
  <div class="column ">

<section class="section is-small pb-3">
  <h1 class="title is-3">Current Jobs</h1>
<table id="customers">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr *ngFor="let value of values">
    <td>{{value['name']}}</td>
    <td>{{value['phone']}}</td>
    <td>{{value['country']}}</td>
    </tr>
</table>
</section>

<section class="section is-small pt-3">
  <h1 class="title is-3">Completed Jobs</h1>
<table  cdkDropList (cdkDropListDropped)="drop($event)" id="customers">
  <tr>
    <th>Name</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>

  <tr *ngFor="let value of values"  cdkDrag>
    <td>{{value['name']}}</td>
    <td>{{value['phone']}}</td>
    <td>{{value['country']}}</td>
    </tr>
  
</table>
</section>
<section class="section is-small pt-3">
<h1 class="title is-3">Add a new job</h1></section>
  </div>
  <div class="column is-one-quarter"></div>
</div>
<router-outlet></router-outlet>